// Menu Button

.menu-btn {
  position: absolute;
  z-index: 3; //close to the top/front of page //
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0; //bottm 5px //
    background: #fff;
    @include easeOut;
  }

  //Rotate menu btn into x with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //Sudo selector to select/target all lines
      //Line 1
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      //Line 2: will be hidden
      &:nth-child(2) {
        opacity: 0;
      }
        //Line 3 - Rotation
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
  }
